body{

margin: 0;
padding: 0;

}
.left{
	padding-left: 50px;
}


#navigation {
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
z-index: 999;
}

#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}
#navigation a:hover {
color: grey;
}

.row{
	height:200px;
	background-image: url();
	background-size: cover;
}


.slider {

  max-width:  100%;
  height: 500px;
  margin: 20px auto;
  position: relative;
  margin-bottom:0px;
  margin-top: 30px;
  text-align: center;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height:500px;
  margin-bottom: 50px;
}
.slide1 {
  background: url(../assets/2.jpg)no-repeat center;
      background-size: cover;
    animation:fade 30s infinite;
-webkit-animation:fade 30s infinite;

} 
.slide2 {
  background: url(../assets/11.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 30s infinite;
-webkit-animation:fade2 30s infinite;
}
.slide3 {
    background: url(../assets/7.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 30s infinite;
-webkit-animation:fade3 30s infinite;
}


@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


#about{

text-align:center;

}

.head1 ,.head2 ,.head3 {

margin-top: 100px;
font-weight: 20px;

}

.tag-line{
text-align: left;
font-size: 2.3em;
margin-left: 50px;
width:500px;
color:white;

}

.sub-tag-line{
		text-align: right;
		margin-right: 50px;
		font-size: 1.8em;	
}


.head1 .sub-tag-line{
	color:#FFEA2B;
}


.head2 .sub-tag-line{
	color:#FF0000;
	}

.head3 .sub-tag-line{
	color: #FF66CC;
}


/*css hover effect*/
.demo-3 {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    
    margin-left:20px;
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}


 #about{
 	margin-top: 50px;
 	margin-bottom: 100px;

 }

 #about p{
 	font-size: 2em;
 	font-weight: 20px;
 }


 #map {
 	margin-top: 30px;
        width: 100%;
        height: 400px;
      }

  .conact{
  	margin-top: 30px;
  	margin-left:800px;
  	
  	width:400px;
  }


 /*  styling the linksection class */
.linksection{
	margin-left: 850px;
	text-align:rightwards;
	
	
}
.linksection img{
	height:10vh;
	width:10vh;
}

/*  styling the copyright  */
.copyright{
	font-family: calibri, sans-serif;
}